<template>
  <div>
    <div class="search__title mb-2">
      <h1 class="text-white text-lg font-bold">
        Favoritos
      </h1>
    </div>
    <div class="search__container">
      <Grif :gifs="gifs" v-if="favs.length" />
      <div v-else-if="gifNotFound">
        <Gif :gif="gifNotFound" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import giphy from '@/utils/giphy';
import Grif from '@/components/Grif.vue';
import Gif from '@/components/Gif.vue';

export default {
  name: 'Favs',
  components: {
    Grif,
    Gif
  },
  data() {
    return {
      gifs: [],
      gifNotFound: null
    }
  },
  computed: {
    ...mapState('FavStore', ['favs'])
  },
  created() {
    this.getFavElements();
  },
  methods: {
    async getFavElements() {
      if(this.favs.length > 0) {
        const favData = await giphy.gifs(this.favs)

        this.gifs = favData.data;
      } else {
        const favZero = await giphy.animate('No hay favoritos', { limit: 1 });

        [this.gifNotFound] = favZero.data
      }
      
    }
  },
}
</script>

<style>

</style>