<template>
  <div class="Home">
    <TopOfGif class="mb-4" v-for="(term, index) in topDogTerms" :key="index" :term="term" />
  </div>
</template>

<script>
import giphy from '@/utils/giphy';
import TopOfGif from '@/components/TopOfGif.vue';

export default {
  name: 'Home',
  components: {
    TopOfGif,
  },
  data() {
    return {
      gifs: [],
      topDogTerms: [
        'Chihuahuas',
        'Cheems',
        'Shiba Inu',
        'Perritos'
      ]
    }
  },
  mounted () {
    this.getTrending();
  },
  methods: {
    async getTrending() {
      const trending = await giphy.trending({ limit: 10 });

      this.gifs = trending.data
    }
  },
}
</script>
