<template>
  <Icon 
    class="text-xl cursor-pointer" 
    :icon="!isFav ? 'cards-heart-outline' : 'cards-heart'"
    :class="{ 'text-red-400': isFav }"
    v-on="$listeners"
  />
</template>

<script>
import Icon from '@/components/Icon.vue';

export default {
  name: 'FavButton',
  props: {
    isFav: {
      type: Boolean,
      default: false
    }
  },
  components: {
    Icon
  }
}
</script>