<template>
  <div class="fav-counter">
    <span class="text-white">
      {{ counter }}
    </span>
    <Icon class="text-red-400 text-md" icon="cards-heart"/>
  </div>
</template>

<script>
import Icon from '@/components/Icon.vue';

export default {
  name: 'FavCount',
  components: {
    Icon
  },
  props: {
    counter:{
      type: Number,
      default: 0
    },
  },
}
</script>

<style>

</style>