<template>
  <div 
    class="gif relative w-full" 
    :style="loadingStyles"
    :class="[
      ...(fixedHeight ? ['flex', 'justify-center', 'items-center'] : [])
    ]"
  >
    <picture class="gif__picture">
      <img 
        @load="onLoadImage" 
        class="gif__image w-full" 
        :src="gifSource.url" 
        :alt="gif.title" 
        :title="gif.title"
      />
    </picture>
    <div class="gif__user-fav absolute top-1 right-1 z-40">
      <FavButton 
        @click="() => $emit('toggleFav', gif.id)" 
        :isFav="isFav" 
      />
    </div>
    <div class="gif__user-info absolute left-0 bottom-0 p-1 w-full" v-if="gif.user">
      <UserInfo :user="gif.user"/> 
    </div>
    <span class="gif__loading absolute bottom-1 right-1" v-if="!isLoaded">
      <Icon icon="loading" :isSpin="true" class="text-md" />
    </span>
  </div>
</template>

<script>
import Icon from '@/components/Icon.vue';
import UserInfo from '@/components/UserInfo.vue';
import colorRandom from '@/utils/colorRandom';
import FavButton from '@/components/FavButton.vue';

export default {
  name: 'Gif',
  components: {
    Icon,
    UserInfo,
    FavButton
  },
  props: {
    gif: {
      type: Object,
      default: () => {}
    },
    fixedHeight: {
      type: Boolean,
      default: false
    },
    height: {
      type: Number,
      default: 250
    },
    isFav: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isLoaded: false,
      sizeRelation: 1,
      backgroundColor: ''
    }
  },
  mounted () {
    this.calculateSize();
  },
  methods: {
    calculateSize() {
      const widthBox = this.$el.clientWidth;
      this.sizeRelation = widthBox / this.gifSource.width;
      this.backgroundColor = colorRandom();

    },
    onLoadImage() {
      this.isLoaded = true;
    },
  },
  computed: {
    loadingStyles() {
      return {
        backgroundColor: this.backgroundColor,
        ...(this.isLoaded || this.fixedHeight ? {} : {
          minWidth: `${this.gifSource.width * this.sizeRelation}px`,
          minHeight: `${this.gifSource.height * this.sizeRelation}px`
        }),
        ...(!this.fixedHeight ? {} : {
          height: `${this.height}px`,
          overflow: 'hidden'
        })
      }
    },
    gifSource() {
      return this.gif.images.fixed_width
    },
  },
}
</script>

<style lang="scss">
.gif {
  &__image {
    height: auto;
  }
  &__user {
    &-info {
      background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    }
  }
}
</style>