<template>
  <div class="lg:masonry-5-col md:masonry-3-col sm:masonry-2-col">
    <Gif 
      v-for="gif in gifs" 
      class="mb-4"
      :gif="gif" 
      :key="gif.id"
      :isFav="favs.includes(gif.id)"
      @toggleFav="toggleFav"
    />
  </div>
</template>

<script>
import Gif from '@/components/Gif.vue';
import listGifMixin from '@/mixins/listGifMixin';

export default {
  name: 'Grif',
  props: {
    gifs: {
      type: Array,
      default: () => []
    },
  },
  components: {
    Gif
  },
  mixins: [
    listGifMixin
  ]
}
</script>

<style>

</style>