<template>
  <i 
    v-if="icon" 
    class="icon" 
    :class="[prefix, `${prefix}-${icon}`, ...(isSpin ? [`${prefix}-spin`] : [])]" 
    v-on="$listeners"
  />
</template>

<script>
export default {
  class: 'Icon',
  props: {
    isSpin: {
      type: Boolean,
      default: false
    },
    prefix: {
      type: String,
      default: 'mdi'
    },
    icon: {
      type: String,
      default: ''
    }
  },
}
</script>

<style>

</style>