<template>
  <div class="navbar flex md:flex-nowrap flex-wrap">
    <div class="navbar__logo w-32 mr-6 md:w-48 mb-4 md:mb-0">
      <router-link :to="{ name: 'Home' }">
        <Logo />
      </router-link>
    </div>
    <div class="navbar__search md:flex-auto w-11/12 pr-4 md:pr-0">
      <SearchWithHistory 
        placeholder="Buscar perritos chiquitos y panzones" 
        :searchHistory="searchHistory" 
        @search="onSearch"
      />
    </div>
    <div class="navbar__favs md:w-32 md:ml-6 w-1/12 ml-0">
      <router-link :to="{ name: 'Favs' }">
        <FavCounter :counter="favCounter" />
      </router-link>
    </div>
  </div>
</template>

<script>
import SearchWithHistory from '@/components/SearchWithHistory.vue';
import Logo from '@/components/Logo.vue';
import FavCounter from '@/components/FavCounter.vue';
import serializeTerm from '@/utils/serializeTerm';
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Navbar',
  components: {
    Logo,
    SearchWithHistory,
    FavCounter
  },
  data() {
    return {
      searchHistory: []
    }
  },
  mounted () {
    this.rehidrateSearchHistoryNFavs();
  },
  methods: {
    ...mapActions('FavStore', ['rehidrateFavCounter']),
    rehidrateSearchHistoryNFavs() {
      const historyInLocalStorage = localStorage.getItem('searchHistory')

      if(historyInLocalStorage) {
        this.searchHistory = JSON.parse(historyInLocalStorage)
      }

      this.rehidrateFavCounter()
    },
    onSearch(term) {
      this.searchHistory = [term, ...this.searchHistory.filter(x => x !== term)];

      localStorage.setItem('searchHistory', JSON.stringify(this.searchHistory))

      this.$router.push({
        name: 'Search',
        params: {
          term: serializeTerm(term)
        }
      })
    }
  },
  computed: {
    ...mapGetters('FavStore',['favCounter']),
  },
}
</script>
