<template>
  <div class="search bg-white px-2 py-1 relative text-gray-400 rounded-sm">
    <div class="search__input-box flex">
      <Icon icon="magnify" class="mr-2" />
      <input 
        v-model="searchTerm"
        :placeholder="placeholder" 
        type="text" 
        class="search__input-control flex-auto outline-none"
        @keypress.enter="() => doSearch(searchTerm)"
        @focus="() => showHistory = true"
        @blur="blurRetarded"
      />
    </div>
    <div 
      class="search__input-history absolute bg-white w-full left-0 z-50 rounded-br rounded-bl overflow-hidden" 
      v-if="searchHistory.length > 0 && showHistory"
    >
      <ul>
        <li 
          v-for="(searchItem, index) in searchHistory"
          :key="index"
          class="cursor-pointer hover:bg-gray-50 px-2 py-1"
          @click="() => doSearch(searchItem)"
        >
          <Icon icon="progress-clock" class="mr-1" />
          {{ searchItem }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Icon from './Icon.vue';

export default {
  name: 'SearchWithHistory',
  props: {
    placeholder: {
      type: String,
      default: 'Search tiny dogs'
    },
    searchHistory: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      searchTerm: '',
      showHistory: false,

    }
  },
  components: {
    Icon
  },
  methods: {
    blurRetarded() {
      setTimeout(() => {
        this.showHistory = false
      }, 250)
    },
    doSearch(searchTerm) {
      if(!searchTerm) {
        return;
      }
      this.$emit('search', searchTerm);

      this.showHistory = false;
      this.searchTerm = ''; 
    }
  },
}
</script>
