<template>
  <div class="top-of-gif">
    <div class="top-of-gif__title mb-2 flex">
      <h2 class="text-white font-bold flex-auto">
        <Icon class="text-red-400" icon="trending-up" />
        <span class="text-lg">
          {{ term }}
        </span>
      </h2>
      <router-link :to="routerLinkRef" class="text-white">
        Ver {{ stats.total_count }} más
        <Icon icon="arrow-right" />
      </router-link>
    </div>
    <div class="top-of-gif__line">
      <div class="grid md:grid-cols-6 grid-cols-2 gap-x-4">
        <Gif 
          v-for="gif in gifs" 
          :key="gif.id" 
          :gif="gif"
          :fixedHeight="true"
          :isFav="favs.includes(gif.id)"
          class="md:mb-0 mb-4"
          @toggleFav="toggleFav"
        />
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '@/components/Icon.vue';
import Gif from '@/components/Gif.vue';
import giphy from '@/utils/giphy';
import serializeTerm from '@/utils/serializeTerm';
import listGifMixin from '@/mixins/listGifMixin';

export default {
  name: 'TopOfGif',
  components: {
    Icon,
    Gif
  },
  props: {
    term: {
      type: String,
      default: '',
      required: true
    },
  },
  data() {
    return {
      gifs: [],
      stats: {}
    }
  },
  mounted () {
    this.getTops();
  },
  mixins: [
    listGifMixin
  ],
  methods: {
    async getTops() {
      const tops = await giphy.search(this.term, { limit: 6 })
      this.gifs = tops.data
      this.stats = tops.pagination;
    }
  },
  computed: {
    routerLinkRef() {
      return {
        name: 'Search',
        params: {
          term: this.serializeTerm
        }
      }
    },
    serializeTerm() {
      return serializeTerm(this.term);
    }
  },
}
</script>