<template>
  <div class="user-info flex items-center">
    <div class="user-info__photo mr-2">
      <img class="w-8" :src="user.avatar_url" :alt="`Profile Giphy of ${user.display_name}`">
    </div>
    <div class="user-info__text">
      <a :href="user.profile_url" target="_blank" class="text-sm text-white">
        <span class="font-bold"> 
          {{ user.display_name }}
        </span>
        <Icon v-if="user.is_verified" icon="check-decagram" class="text-blue-300 text-xs" />
      </a>
      <p class="text-xs text-white" :title="hasMoreDescription ? user.description : ''">
        {{ shortDescription }}
        <span v-if="hasMoreDescription">
        ...
        </span>
      </p>
    </div>
  </div>
</template>

<script>
import Icon from './Icon.vue';

export default {
  name: 'UserInfo',
  components: {
    Icon
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
  },
  computed: {
    hasMoreDescription() {
      return this.user.description.length > 32
    },
    shortDescription() {      
      return this.user.description.substring(0, 32)
    }
  },
}
</script>

<style>

</style>