<template>
  <div id="giphy" class="giphy">
    <div class="giphy__nav mb-8 mt-4">
      <div class="container mx-auto px-4 md:p-0">
        <Navbar />
      </div>
    </div>
    <div class="giphy__content pb-8">
      <div class="container mx-auto px-4 md:p-0">
        <router-view />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'

export default {
  name: 'App',
  components: {
    Navbar
  },
  metaInfo: {
    title: 'Home',
    titleTemplate: '%s | GIPHY Dogs'
  },
}
</script>p

<style lang="scss">
body {
  font-family: 'Lato', sans-serif;
}
</style>
