<template>
  <div class="search">
    <div class="search__title mb-2">
      <h1 class="text-white text-lg font-bold">
        {{ searchTermUpper }}
      </h1>
    </div>
    <div class="search__container">
      <Grif :gifs="gifs" />
    </div>
  </div>
</template>

<script>
import giphy from '@/utils/giphy';
import Grif from '@/components/Grif.vue';

export default {
  name: 'Search',
  components: {
    Grif
  },
  beforeRouteUpdate(to, from, next) {
    if(to.name == from.name) {
      this.offset = 0;
      this.gifs = [];
    }
    next();
    this.getElements(this.searchTermUpper)
  },
  data() {
    return {
      gifs: [],
      offset: 0,
      limit: 15,
    }
  },
  created() {
    if(this.$route.params && this.$route.params.term) {
      this.getElements(this.searchTermUpper)
    }
  },
  mounted () {
     this.toggleScrollListener();
  },
  computed: {
    searchTermUpper() {
      if(!this.$route.params && !this.$route.params.term) {
        return 'Unknown'
      }
      return this.$route.params.term.replaceAll('-', ' ').toUpperCase()
    }
  },
  beforeDestroy() {
    this.toggleScrollListener(true);
  },
  methods: {
    toggleScrollListener(unset = false) {
      if(unset) {
        document.removeEventListener('scroll', this.scrollListener)
      } else {
        document.addEventListener('scroll', this.scrollListener)
      }
    },
    scrollListener() {
      const currentScrollY = window.scrollY + this.$el.clientHeight

      const searchBoxFinalScroll = this.$el.clientHeight + this.$el.offsetTop;

      if(currentScrollY > searchBoxFinalScroll) {
        this.offset += 15;
        this.toggleScrollListener(true);
        this.getElements(this.searchTermUpper)
      }
    },
    async getElements(searchTerm) {
      const gifs = await giphy.search(searchTerm.toLowerCase(), { limit: this.limit, lang: 'es', offset: this.offset})

      this.gifs.push(...gifs.data)
      this.toggleScrollListener();
    }
  },
}
</script>

<style>

</style>